---
export interface Props {
  title: string;
  description: string;
  href: string;
  techStack: Array<string>;
  lookingForHelp: boolean;
  projectState: string;
}

const { href, title, description, techStack, lookingForHelp, projectState } =
  Astro.props;
---

<li>
  <a
    class="card mx-auto flex flex-col bg-base-300 p-2 shadow-[5px_5px_3px_0px_rgba(0,0,0,0.3)]"
    href={href}
  >
    <div class="flex justify-between gap-2">
      <h2 class="font-semibold">
        {title}
        <span class="badge badge-neutral">
          {projectState}
        </span>
      </h2>
      <span
        class={lookingForHelp
          ? "badge badge-success text-success-content"
          : "hidden"}
        >Buscamos ayuda! <img src="/help-flag.svg" alt="help flag icon" /></span
      >
    </div>
    <ul
      class="mt-1 flex w-fit flex-wrap rounded-box border border-base-content p-2"
    >
      {
        techStack.map((value: string) => (
          <li>
            <img class="h-8" src={value} alt={value + " icon"} />
          </li>
        ))
      }
    </ul>
    <span class="divider m-0"></span>
    <p>
      {description}
    </p>
  </a>
</li>
